.addBtnCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  font-size: 50px !important;
  color: var(--primary-dark);
  cursor: pointer;
}

.sort_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitBtn {
  border: 2px solid var(--secondary-color);
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
  transition: 0.3s ease;
}

.submitBtn:hover {
  background-color: var(--secondary-color);
  color: var(--white-grey);
}

.inputCon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.input {
  height: 35px;
  padding: 5px 10px;
  font-size: 18px;
}

.dateCon {
  margin: 10px 0;
}

.datePicker {
  width: 100%;
}

.addTitle {
  font-size: 25px;
}

.errorTxt {
  color: var(--danger-color);
  margin-top: 10px;
}
