.container {
  background-color: var(--white-grey);
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 10px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
}

.name {
  font-size: 14px;
  color: #585757;
}

.numCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  font-size: 38px;
  color: var(--primary-color);
}
