.container {
  background-color: var(--white-grey);
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 800px;
  min-width: 500px;

  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
}

.highPriority {
  background-color: red;
}

.mediumPriority {
  background-color: yellow;
}

.lowPriority {
  background-color: green;
}

.s1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 20px;
}

.des {
  font-size: 14px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreIcon {
  font-size: 30px;
  cursor: pointer;
}

.num {
  font-size: 38px;
  margin-top: 10px;
  color: var(--primary-color);
}
