.container {
  background-color: var(--white-grey);
  margin: 10px 20px;
  padding: 10px 20px;
  border-radius: 10px;

  box-shadow: 3px 1px 24px -7px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 3px 1px 24px -7px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 3px 1px 24px -7px rgba(0, 0, 0, 0.49);
}

.name {
  font-size: 18px;
}

.numCon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  font-size: 38px;
  margin-top: 10px;
  color: var(--primary-color);
}
