.container {
  background-color: var(--white-grey);
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 10px;
  width: 550px;

  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.26);
}

.highPriority {
  border-top: 10px solid var(--danger-color);
}

.mediumPriority {
  border-top: 10px solid var(--warning-color);
}

.lowPriority {
  border-top: 10px solid var(--success-color);
}

.s1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
}

.des {
  font-size: 16px;
  margin: 10px 0;
  text-align: justify;
}

.date {
  font-size: 16px;
  color: var(--primary-color);
}

.priority {
  font-size: 16px;
  margin: 10px 0;
}

.editBtn {
  margin-right: 10px !important;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreIcon {
  font-size: 30px;
  cursor: pointer;
}

.num {
  font-size: 38px;
  margin-top: 10px;
  color: var(--primary-color);
}

.addTitle {
  font-size: 25px;
}

.errorTxt {
  color: var(--danger-color);
  margin-top: 10px;
}

.dateCon {
  margin: 10px 0;
}

.datePicker {
  width: 100%;
}

.inputCon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
}

.input {
  height: 35px;
  padding: 5px 10px;
  font-size: 18px;
}

.updateBtn {
  border: 2px solid var(--secondary-color);
  padding: 5px 10px;
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
  transition: 0.3s ease;
}

.updateBtn:hover {
  background-color: var(--secondary-color);
  color: var(--white-grey);
}

.cardDetailsContainer {
  max-height: 250px;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in 0.3s;
}

.cardHide {
  max-height: 0px;
  overflow-y: hidden;
  opacity: 0;
}

@media screen and (max-width: 680px) {
  .container {
    width: 350px;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 300px;
  }
}
